{{!-- 
    Citation for the following codes:
    Date: 02-19-2023
    Adapted from
    https://github.com/osu-cs340-ecampus/nodejs-starter-app
 --}}

<!-- movies.hbs -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/directors">Directors</a></li>
        <li><a href="/actors">Actors</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/synopses">Synopses</a></li>
    </ul>
</nav>
<h1>Movies</h1>
<p>List of Movies</p>

{{!-- Movies Table --}}
<table id="Movies-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.movie_id}}>
            <td>{{this.movie_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.released_year}}</td>
            <td>{{this.language}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.revenue}}</td>
            <td><button onclick="deleteMovie({{this.movie_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_movie.js"></script>

{{!-- Form to add a record to the table --}}
<h2>Add Movie</h2>
<p>Please enter the information below and click submit!</p>
<form id="add-movie-form-ajax">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title" required>

    <label for="input-released_year">Released Year (1901 to 2155): </label>
    <input type="number" name="input-released_year" id="input-released_year" min="1901" max="2155" size="4" required>

    <label for="input-language">Language: </label>
    <input type="text" name="input-language" id="input-language" required>

    <label for="input-duration">Duration(hh:mm:ss): </label>
    <input type="text" name="input-duration" id="input-duration" pattern="[0-9]{2}:[0-5][0-9]:[0-5][0-9]">

    <label for="input-rating">Rating: (0 to 10.0)</label>
    <input type="number" name="input-rating" id="input-rating" step="any" min="0" max="10">


    <label for="input-revenue">Revenue: </label>
    <input type="number" name="input-revenue" id="input-revenue">

    <input type="submit">
</form>
<script src="./js/add_movie.js"></script>

<!-- Form to edit a record in the table  -->
<h2>Update Movie</h2>
<p>Choose the movie you want to edit by its title,
    <br>fill out the information and click submit
    <br>
</p>
<form id="update-movie-form-ajax">

    <label for="update-movie-id">Select Movie Title (movie_id): </label>
    <select name="update-movie-id" id="update-movie-id">
        {{#each data}}
        <option value="{{this.movie_id}}">{{this.title}} ({{this.movie_id}})</option>
        {{/each}}
    </select>

    <label for="update-title">Title: </label>
    <input type="text" name="update-title" id="update-title" value="{{this.title}}" required>

    <label for="update-released_year">Released Year (1901 to 2155): </label>
    <input type="number" name="update-released_year" id="update-released_year" value="{{this.released_year}}" min="1901" max="2155" size="4" required>

    <label for="update-language">Language: </label>
    <input type="text" name="update-language" id="update-language" value="{{this.language}}" required>

    <label for="update-duration">Duration(hh:mm:ss): </label>
    <input type="text" name="update-duration" id="update-duration" pattern="[0-9]{2}:[0-5][0-9]:[0-5][0-9]" value="{{this.duration}}">

    <label for="update-rating">Rating: (0 to 10.0)</label>
    <input type="number" name="update-rating" id="update-rating" step="any" min="0" max="10" value="{{this.rating}}">

    <label for="update-revenue">Revenue: </label>
    <input type="number" name="update-revenue" id="update-revenue" value="{{this.revenue}}">

    <input type="submit">
</form>
<script src="./js/update_movie.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
